.aboutContainer{
    height: 100%;
    margin: auto;
	display: inline-block;
	margin-top: 15%;
}
.container {
    float:right;
	min-width: 50%;
    min-height: 500px;
	border-radius: 20px;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	width: 100%;
    height: 100%;
    text-align: center;
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.side .cardTitle{
    text-align: center;
}

.content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.5em;
}

.content h1 {
	position: relative;
}

.content p {
	margin-top: 50px;
	line-height: 1.5em;
}


.content h1:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	background-color: #3e3;
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}

.front {
	z-index: 2;
	background-size: cover;
    background-image: url("../../Assets/aboutPic1.jpg");
}

.back {
	background-color: rgb(9, 9, 9);
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
    height: fit-content;
    transition: 0.5s;
}


.container:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.back h1 {
	margin: 0;
}

.productDescription{
    float:left;
	
    width: 50%;
}
.productDescription h1{
    margin:25px;
    color:white;
    font-size: 50px;
    width:50%;
}
.productDescription h2{
    margin:50px;
    color:white;

    font-size: 35px;
}
p{
    margin:50px;
    color:white;
    font-size: 25px;
	text-align: left;
}

@media screen and (max-width:768px) {
	.aboutContainer{
		height: 100%;
		display: inline-block;
		margin-top: 15%;
		margin-bottom: 50%;
		z-index: 1;
	}
	.container {
		min-width: 100%;
		min-height: fit-content;
		border-radius: 20px;
	}
	.productDescription{
		width:100%;
	}
	.back {
		background-color: rgb(9, 9, 9);
		z-index: 0;
		padding-top: 10px;
		height: fit-content;
	}
	.side {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		color: #fff;
		border-radius: 20px;
	}
	.content {
		line-height: 1.5em;
	}
	
.container {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
p{
    margin:0;
    color:white;
    font-size: 20px;
	text-align: center;
}

}