.showcaseContainer{
    height: 100%;
}

.nextSlide{
    position: absolute;
    right:0;
    height:100%;
    font-size: 65px;
    background-color: transparent;
    color:greenyellow;
    z-index:145;
}

.prevSlide{
    position: absolute;
    height:100%;
    font-size: 65px;
    left:0;
    background-color: transparent;
    color:greenyellow;
    z-index:145;
}
.prevSlide:hover,.nextSlide:hover{
    background-color: rgba(167, 167, 166, 0.234);
    opacity: 0.2;
    color:white;
    z-index: 145;
}
.prevSlide:focus,.nextSlide:focus{
    color:greenyellow;
    z-index: 145;
}

  